<!DOCTYPE html>
<html>
<head>
	{{> defaultHead }}
	<style>
		.hontai td:nth-of-type(1){
			text-align:right;
			width:10rem;
			}
		.hontai input[type="number"], .hontai input[type="text"]{
			width: 80%;
			}
	</style>
	<title>設定 - nusuttoChan</title>
</head>
<body>
	<header>{{> header }}</header>
	<h1>設定</h1>
	<form method="POST" action="/set" autocapitalize="none" autocomplete="on">
		<div id="mainSettings">
			<h2><i class="ri-home-gear-fill ri-xl"></i>本体設定</h2>
			<table class="hontai"><tbody>
				<tr>
					<td>再生コマンド</td>
					<td><input type="text" name="playing[command]" value="{{playing.command}}" /></td>
				</tr>
				<tr>
					<td>Interval Time</td>
					<td><input type="number" name="playing[intervalTime]" placeholder="{{playing.intervalTime}}" />
						<i class="ri-skull-2-fill"></i>
					</td>
				</tr>
				<tr>
					<td>Listen PORT</td>
					<td>
						<input type="number" name="port" placeholder="次回起動時に反映されます。" />
						<i class="ri-skull-2-fill"></i>
					</td>
				</tr>
			</tbody></table>
		</div>
		<div id="voicevoxSettings">
			<h2>
				<table><tbody><tr><!--表じゃないところにtableを使ってる。（自首）-->
					<td align="center" style="color:white; background-color:rgb(175,210,176); width: 2rem; height:2rem;">Ｖ</td>
					<td width="0.5rem"></td>
					<td>VOICEVOX ENGINE <A class="ri-github-fill" href="https://github.com/VOICEVOX/voicevox_engine"></A></td>
				</tr></tbody></table>
			</h2>
			<table class="hontai"><tbody>
				<tr>
					<td>アドレス</td>
					<td><input type="text" name="voicevox[address]" value="{{voicevox.settings.address}}" /></td>
				</tr>
				<tr>
					<td>ポート番号</td>
					<td><input type="text" name="voicevox[port]" value="{{voicevox.settings.port}}" /></td>
				</tr>
				<tr>
					<td>話者</td>
					<td>
						<select name="voicevox[speaker]">
							<optgroup>
							<!--そのうちちゃんと下でselectedをつけるようにするかもしれないけどめんどくさいからとりあえず。valueは一応設定
								……したせいかたまに謎挙動するけど使用に支障はないので放置-->
							<option value="{{voicevox.settings.speaker}}" selected hidden disabled>変更しない</option>
							</optgroup>
							{{#each voicevox.speakers}}
								<optgroup label="{{this.name}}">
									{{#each this.styles}}
										<option value="{{this.id}}">{{../name}}（{{this.name}}）</option>
									{{/each}}
								</optgroup>
							{{/each }}
						</select>
					</td>
				</tr>
				<tr>
					<td>話速</td>
					<td><input name="voicevox[options][speedScale]" type="number" step="0.001" placeholder="初期値: 1.0" value="{{voicevox.settings.options.speedScale}}" /></td>
				</tr>
				<tr>
					<td>ピッチ</td>
					<td><input name="voicevox[options][pitchScale]" type="number" step="0.001" placeholder="初期値: 0.0" value="{{voicevox.settings.options.pitchScale}}" /></td>
				</tr>
				<tr>
					<td>抑揚</td>
					<td><input name="voicevox[options][intonationScale]" type="number" step="0.001" placeholder="初期値: 1.0" value="{{voicevox.settings.options.intonationScale}}" /></td>
				</tr>
				<tr>
					<td>音量</td>
					<td><input name="voicevox[options][volumeScale]" type="number" step="0.001" placeholder="初期値: 1.0" value="{{voicevox.settings.options.volumeScale}}"</td>
				</tr>
				<tr>
					<td>前の無音時間</td>
					<td><input name="voicevox[options][prePhonemeLength]" type="number" step="0.001" placeholder="初期値: 0.1" value="{{voicevox.settings.options.prePhonemeLength}}"</td>
				</tr>
				<tr>
					<td>後の無音時間</td>
					<td><input name="voicevox[options][postPhonemeLength]" type="number" step="0.001" placeholder="初期値: 0.1" value="{{voicevox.settings.options.postPhonemeLength}}"</td>
				</tr>
				<tr>
					<td>サンプリングレート</td><!--本当はcssで消すべきかもだけど面倒くさいので↓-->
					<td><input name="voicevox[options][outputSamplingRate]" type="text" placeholder="初期値: 24000" value="{{voicevox.settings.options.outputSamplingRate}}"</td>
				</tr>
				<tr>
					<td>ステレオ出力</td>
					<td>
						<input name="voicevox[options][outputStereo]" type="radio" id="false" value="false" {{#unless voicevox.outputStereo}}checked{{/unless}} >
						<label for="false">無効(推奨)</label>
						<input name="voicevox[options][outputStereo]" type="radio" id="true"  value="true" {{#if voicevox.outputStereo}}checked{{/if}} >
						<label for="true">有効</label>
					</td>
				</tr>
				<tr>
					<td>語尾追加</td>
					<td><input type="text" placeholder="未実装（かわいい補正機能）" style="height:100%;" /></td>
				</tr>
				<tr>
					<td>同時合成数</td>
					<td>
						<input type="number" name="voicevox[lock]" placeholder="{{voicevox.settings.lock}}" />
						<i class="ri-skull-2-fill"></i>
					</td>
				</tr>
				<tr>
					<td>Interval Time</td>
					<td>
						<input type="number" name="voicevox[intervalTime]" placeholder="{{voicevox.settings.intervalTime}}" />
						<i class="ri-skull-2-fill"></i>
					</td>
				</tr>
				<tr>
					<td colspan="2"><input type="submit" value="保存" style="width:100%; padding:auto;" /></td>
				</tr>
			</tbody></table>
		</div>
	</form>
</body>
</html>
